/* Add these styles to your CSS file */
@media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .content-container {
    margin-left: 250px; /* Adjust the margin-left to match the width of your sidebar */
    transition: margin-left 0.3s ease; /* Add a smooth transition effect */
  }
  /* Add CSS styles to your stylesheet or component */
.applicant-table-container {
  margin-left: 200px; /* Adjust the margin-left as needed to avoid the sidebar */
}

/* Apply margin-top to the search input */
.table-search-input {
  margin-top: 20px; /* Adjust the margin-top as needed */
}
